<h4> Sydney Fighters Battings Stats: Batting Position- Opening</h4>
<gui-grid [source]="sourceOpening"
          [columns]="columns"
          [sorting]="sorting"
          >
</gui-grid>

<hr size="10">

<h4> Sydney Fighters Battings Stats : Batting Position- 3 (i,e One down)</h4>
<gui-grid [source]="source3"
          [columns]="columns"
          [sorting]="sorting">
</gui-grid>

<hr size="10">

<h4> Sydney Fighters Battings Stats : Batting Position- 4 (i,e Two down)</h4>
<gui-grid [source]="source4"
          [columns]="columns"
          [sorting]="sorting">
</gui-grid>

<hr size="10">

<h4> Sydney Fighters Battings Stats : Batting Position- 5 (i,e Three down)</h4>
<gui-grid [source]="source5"
          [columns]="columns"
          [sorting]="sorting">
</gui-grid>

<hr size="10">

<h4> Sydney Fighters Battings Stats : Batting Position- 6 (i,e Four down)</h4>
<gui-grid [source]="source6"
          [columns]="columns"
          [sorting]="sorting">
</gui-grid>

<hr size="10">

<h4> Sydney Fighters Battings Stats : Batting Position- 7 (i,e Five down)</h4>
<gui-grid [source]="source7"
          [columns]="columns"
          [sorting]="sorting">
</gui-grid>

<hr size="10">

<h4> Sydney Fighters Battings Stats : Batting Position- 8 (i,e Six down)</h4>
<gui-grid [source]="source8"
          [columns]="columns"
          [sorting]="sorting">
</gui-grid>

<h4> Sydney Fighters Battings Stats : Batting Position- 9 (i,e Seven down)</h4>
<gui-grid [source]="source9"
          [columns]="columns"
          [sorting]="sorting">
</gui-grid>

<hr size="10">
<h4> Sydney Fighters Battings Stats : Batting Position- 10 (i,e Eight down)</h4>
<gui-grid [source]="source10"
          [columns]="columns"
          [sorting]="sorting">
</gui-grid>

<hr size="10">

<h4> Sydney Fighters Battings Stats : Batting Position- 11 (i,e Nine down)</h4>
<gui-grid [source]="source11"
          [columns]="columns"
          [sorting]="sorting">
</gui-grid>

<hr size="10">
