<h4> Sydney Fighters Battings Stats: All Matches</h4>
<gui-grid [source]="source"
          [columns]="columns"
          [sorting]="sorting">
</gui-grid>

<hr size="10">

<h4> Sydney Fighters Battings Stats : Tournaments</h4>
<gui-grid [source]="sourceT"
          [columns]="columns"
          [sorting]="sorting">
</gui-grid>

<hr size="10">

<h4> Sydney Fighters Battings Stats : Practice Matches</h4>
<gui-grid [source]="sourceP"
          [columns]="columns"
          [sorting]="sorting">
</gui-grid>

<hr size="10">
