<h4> Sydney Fighters Top 20 Battings Partnership : All Matches</h4>
<gui-grid [source]="sourcePartner"
          [columns]="columnsPartner"
          [sorting]="sorting">
</gui-grid>

<hr size="10">
<h4> Partnerships Appearances : All Matches</h4>
<gui-grid [source]="sourceAppearance"
          [columns]="columnsAppearance"
          [sorting]="sorting">
</gui-grid>

<hr size="10">
