<div class="container">
  <div class="row mb-100">
    <div class="col" style="display: block">
      <select (change)="onChangeTeam($event)">
        <option *ngFor="let i of teams" [value]="i.id">{{i.name}}</option>
      </select>
    </div>
    <div class="col" style="display: block">
      <select (change)="onChangeStatType($event)">
        <option *ngFor="let i of statTypes" [value]="i.id">{{i.name}}</option>
      </select>
    </div>
  </div>
  <div class="row mb-100">
    <p>.</p>
  </div>
  <div class="row mb-100">
    <gui-grid [source]="sourceBatting"
              [columns]="columns"
              [sorting]="sorting">
    </gui-grid>
  </div>
  <div class="row mb-100">
    <p>.</p>
  </div>
  <div class="row mb-100">
    <i>**Data accumulated from these tournaments- Sadhinota Cup 2021, BSL 3.0, BD Gold Cup 27th Edition.** </i>
  </div>
</div>


