<h4>Progression1 : Sydney Fighters all time average run rate...</h4>

<div class="row mb-100">
  <div class="col" style="display: block">
    <canvas id="powerPlayLine"></canvas>
  </div>
  <div class="col" style="display: block">
    <canvas id="inningsLine"></canvas>
  </div>
</div>
<hr size="10">

<h4>Progression2: Sydney Fighters all time average runs per wicket lost...</h4>

<div class="row mb-100">
  <div class="col" style="display: block">
    <canvas id="powerPlayLineRpw"></canvas>
  </div>
  <div class="col" style="display: block">
    <canvas id="inningsLineRpw"></canvas>
  </div>
</div>
<hr size="10">

<h4>Breakdowns by tournaments and Comparisions with best and worst teams in the community...</h4>
<hr size="10">

<h4>Tournament breakdown 1: Sydney Fighters average run rate...</h4>

<div class="row mb-100">
  <div class="col" style="display: block">
    <canvas id="powerPlay"></canvas>
  </div>
  <div class="col" style="display: block">
    <canvas id="innings"></canvas>
  </div>
</div>

<hr size="10">

<h4>Tournament breakdown 2 : Sydney Fighters average run scored per wicket lost...</h4>

<div class="row mt-1">
  <div class="col" style="display: block">
    <canvas id="powerPlayRpw"></canvas>
  </div>
  <div class="col" style="display: block">
    <canvas id="inningsRpw"></canvas>
  </div>
</div>

<hr size="10">

<h4> Sadhinota Cup 2021 Team Comparision 1: Average run rate...</h4>

<div class="row mt-1">
  <div class="col" style="display: block">
    <canvas id="tcpowerPlayRr"></canvas>
  </div>
  <div class="col" style="display: block">
    <canvas id="tcInningsRr"></canvas>
  </div>
</div>

<hr size="10">

<h4>Sadhinota Cup 2021 Team Comparison 2: Average runs scored per wicket lost...</h4>

<div class="row mt-1">
  <div class="col" style="display: block">
    <canvas id="tcpowerPlayRpw"></canvas>
  </div>
  <div class="col" style="display: block">
    <canvas id="tcInningsRpw"></canvas>
  </div>
</div>

<hr size="10">

<h4> BSL 3.0 Team Comparision 1: Average run rate...</h4>

<div class="row mt-1">
  <div class="col" style="display: block">
    <canvas id="tcpowerPlayRrBsl"></canvas>
  </div>
  <div class="col" style="display: block">
    <canvas id="tcInningsRrBsl"></canvas>
  </div>
</div>

<hr size="10">

<h4>BSL 3.0 Team Comparision 2: Average runs scored per wicket lost...</h4>

<div class="row mt-1">
  <div class="col" style="display: block">
    <canvas id="tcpowerPlayRpwBsl"></canvas>
  </div>
  <div class="col" style="display: block">
    <canvas id="tcInningsRpwBsl"></canvas>
  </div>
</div>
