<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">CCCharts</a>
      <!--<button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>-->
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <!--<ul class="navbar-nav flex-grow">
    <li class="nav-item"
        [routerLinkActive]="['link-active']"
        [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
    </li>-->
        <!--<li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/counter']"
      >Counter</a
    >
  </li>
  <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link text-dark" [routerLink]="['/fetch-data']"
      >Fetch data</a
    >
  </li>-->
        <!--<li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/charts']">[Team Charts]</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/batting-stats']">[Batting Stats]</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/batting-stats-position']">[Batting Position Stats]</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/bowling-stats']">[Bowling Stats]</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/players-stats-allteams']">[Stats]</a>
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/batting-stats-partnerships']">[Partnerships]</a>
    </li>


  </ul>-->
        <div class="navbar">
          <a href="#home">Home</a>
          <div class="subnav">
            <button class="subnavbtn">Charts <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
              <a class="nav-link text-dark" [routerLink]="['/charts']">Teams</a>
              <a class="nav-link text-dark" [routerLink]="['/charts']">Players</a>
            </div>
          </div>
          <div class="subnav">
            <button class="subnavbtn">Stats <i class="fa fa-caret-down"></i></button>
            <div class="subnav-content">
              <a class="nav-link text-dark" [routerLink]="['/batting-stats']">Fighters Battings</a>
              <a class="nav-link text-dark" [routerLink]="['/batting-stats-position']">Fighters Batting Position</a>
              <a class="nav-link text-dark" [routerLink]="['/bowling-stats']">Fighters Bowling</a>
              <a class="nav-link text-dark" [routerLink]="['/batting-stats-partnerships']">Fighters Partnerships </a>
              <a class="nav-link text-dark" [routerLink]="['/players-stats-allteams']">Other Teams</a>
            </div>
          </div>
          <!--<div class="subnav">
    <button class="subnavbtn">Partners <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#link1">Link 1</a>
      <a href="#link2">Link 2</a>
      <a href="#link3">Link 3</a>
      <a href="#link4">Link 4</a>
    </div>
  </div>-->
          <!--<a href="#contact">Contact</a>
          <a href="#contact">Contact</a>-->
        </div>
      </div>
    </div>
  </nav>
</header>
